body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainContainer {
  display: grid;
  place-items: center;

  height: 540px;
  width: 540px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
#mainLayout {
  display: grid;
  grid-template: repeat(2, 1fr) 125px / auto;
  place-items: center;
  grid-template-areas: 
    "a"
    "b"
    "c";

  height: 480px;
  width: 480px;
  border-radius: 10px;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 241, 242, 1) 34%,
    rgba(255, 255, 255, 1) 49%,
    rgba(238, 241, 242, 1) 59%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 5px 5px 5px #000, -2px -2px 5px #000, inset 0 0 10px #000;
}
#diceComponents {
  grid-area: b;
  display: grid;
  grid-template: repeat(2, 75px) / repeat(5, 75px);
  place-items: center;
}
#dice {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 53.75px;
  width: 53.75px;
  border-radius: 4.5px;

  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 22%,
    rgba(231, 238, 240, 1) 75%,
    rgba(213, 227, 231, 1) 100%
  );
  box-shadow: 2px 2px 2px #333, -1px -1px 2px #333, inset 0 0 3px #000;
}
